@charset "utf-8";

// Dracula Pallete
$dracula-bg: #282a36;
$dracula-fg: #f8f8f2;
$dracula-selected: #44475a;
$dracula-comment: #6272a4;
$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;


// Update Bulma's global variables
// read more: https://bulma.io/documentation/customize/variables/
$primary: $dracula-purple;

$link: $dracula-pink;
$link-hover: lighten($dracula-pink, 5%);
$link-hover-border: lighten($dracula-pink, 5%);
$link-focus: darken($dracula-pink, 5%);
$link-focus-border: darken($dracula-pink, 5%);
$link-active: lighten($dracula-pink, 5%);
$link-active-border: lighten($dracula-pink, 5%);

$info: $dracula-cyan;
$success: $dracula-green;
$warning: $dracula-yellow;
$danger: $dracula-red;
$dark: $dracula-selected;
$grey: $dracula-fg;

$text: $dracula-fg;
$text-light: lighten($dracula-fg, 5%);
$text-strong: darken($dracula-fg, 5%);

$background: $dracula-bg;

$green-invert: $dracula-bg;
$success-invert: $dracula-bg;

// Update some of Bulma's component variables
$title-color: $dracula-fg;
$subtitle-color: $dracula-fg;
$subtitle-strong-color: darken($dracula-fg, 5%);

$body-background-color: $dracula-bg;
$footer-background-color: $dracula-bg;

$code-background: $dracula-selected;
$label-color: $dracula-fg;
$card-color: $dracula-bg;

@import "~bulma/bulma";